body {
  margin: 0;
  --theme-color: #0055b2;
  --bubble-color: #0055b2;
  --send-button-color: #007aff;
}

#main-popup {
  height: 500px;
  width: 400px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 60px;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.8);
}

.sidebar-chat-tab {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 9px;
  margin-top: 20px;
  background-color: var(--theme-color);
  color: white;
  text-align: center;
  font-size: 18px;
  border: 1px solid white;
  box-shadow: 0 0 2px white;
  cursor: pointer;
}

.sidebar-chat-tab:hover {
  color: var(--theme-color);
  background-color: white;
}

.sidebar-chat-tab-text {
  margin-top: 9px;
}

.sidebar-chat-tab-label {
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  width: 80px;
  font-size: 14px;
  z-index: 999;
}

/* HEADER */
.header {
  position: absolute;
  width: 340px;
  height: 70px;
  left: 60px;
  top: 0;
  box-shadow: 0 2px 2px -2px gray;
  background-color: rgba(0,0,0,0.1);
  z-index: 2;
}

.header-article-title {
  font-size: 18px;
  padding: 10px;
  font-family: 'Merriweather', serif;
}

.header-subtitle {
  font-size: 12px;
  padding-left: 10px;
  color: #7e7e7e;
}

/* MESSAGES */
.messages {
  z-index: 1;
  position: absolute;
  top: 70px;
  left: 60px;
  width: 340px;
  height: 430px;
}

.messages-container {
  height: 380px;
  overflow: auto;
  width: 340px;
}

.message-item {
  padding: 10px;
  padding-top: 0;
  display: flex;
  align-items: flex-start;
}

.message-item:first-child {
  padding-top: 10px;
}

.message-sender-info {
  width: 40px;
  height: 40px;
  position: relative;
}

.message-sender {
  width: 40px;
  height: 40px;
  background-color: lightgray;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 0 2px black;
  color: var(--theme-color);
  cursor: default;
}

.message-sender:hover {
  box-shadow: 0 0 4px black;
}

.message-sender-initials {
  font-size: 28px;
  text-align: center;
  position: relative;
  top: 4px;
}

.message-sender-reaction {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  bottom: -5px;
  right: -10px;
}

.message-sender-reaction-icon {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid gray;
}

.message-body {
  border: 1px solid white;
  width: 230px;
  padding: 12px;
  font-size: 14px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0 0 1px black;
}

.message-body.other {
  background-color: lightgray;
  color: white;
}

.message-body.self {
  background-color: var(--bubble-color);
  color: black
}

.message-composer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: gray;
  display: flex;
}

.message-composer-input {
  width: 260px;
  margin-left: 9px;
  margin-top: 9px;
  padding: 0;
  height: 30px;
  font-size: 12px;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid white;
}

.message-composer-input:disabled {
  background-color: lightgray;
  opacity: 0.7;
}

.message-composer-send {
  margin-left: 9px;
  width: 40px;
  height: 30px;
  margin-top: 9px;
  text-align: center;
  color: white;
  background-color: var(--send-button-color);
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
}

.message-composer-send:hover {
  box-shadow: 0 0 2px white;
}

.message-composer-send.pressed {
  opacity: 0.7;
  box-shadow: none;
}

.message-composer-send.sending {
  opacity: 0.5;
  box-shadow: none;
}

.message-composer-send.disabled {
  background-color: gray;
  color: lightgray;
  box-shadow: none;
}

.message-composer-send-label {
  margin-top: 8px;
}

.sending-loading-spinner {
  width: 20px;
  height: 20px;
  margin-top: -3px;
}

.unselectable {
  -webkit-user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;
}
